.Menu {
  color: #ffffff;
  padding: 5px 10px;
  width: 20%;
}

.header {
  margin: 15px 0px;
}

.header--yellow {
  color: #FFAE02;
}

li {
  border-radius: 0px 30px 30px 0px; 
  cursor: pointer;
  font-size: 26px;
  padding: 20px 0px 20px 8px;
  text-align: left;
  &:hover {
    background: #FFAE02;
  }
}