.NewsArticle {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  width: 100%;

  h3 {
    padding: 8px;
  }

  p {
    padding: 10px;
  }

  a {
    align-items: center;
    background:  #B56AF0;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    text-decoration: none;
    
    &:hover {
      background:  #FFAE02;
    }
  }
}

.image--news {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

